# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
*.egg-info/

# Node
node_modules/
dist/

# Environment
.env
*.local

# OS
.DS_Store
Thumbs.db

# Embedded repos
repo_upstream/

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
